# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# typescript declaration
decl/

# Generated test file
test/compressed.ss
test/uncompressed2.json
test/uncompressed_again.json


# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store